*{
    /* border: 3px solid black; */
}
main{
    background-color: aqua;
    display: flex;
   justify-content: space-evenly;

    height: 400px;
    align-items: end;

    /* flex-direction: column; */

}


